* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightseagreen;
}

.todo-filter {
    background-color: aquamarine;
    padding: 5px;
}

.todo-stat {
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}

.todo-stat span {
    color: lightgreen;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
}